{
  "name": "{{ insights_remediation_plan_name }}",
  "auto_reboot": true,
  "add": {
    "issues": [
      {% for cve in all_cves_list | unique %}
      {
        "id": "vulnerabilities:{{ cve }}",
        "systems": [
          "{{ system_uuid }}"
        ]
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
}
